<h1>Your previous workouts, <%= user.username %></h1>

<% user.workouts.each do |workout| %>
    <p>
        <%= workout.date.to_s %>
        <a href="/workouts/<%= workout.id %>">edit</a>
    </p>
<% end %>