<h1>Your workout for <%= Date.today %></h1>

<form action="/workouts" method="POST">
    <h3>Run:</h3>
        Distance in miles: <input type="number" placeholder="2.0" step="0.1" min="0.1" name="run[distance]"><br><br>
        Minutes: <input type="number" placeholder="1" step="1" min="0" name="run[minutes]"><br><br>
        Seconds: <input type="number" placeholder="0" step="1" min="0" max="59" name="run[seconds]"><br><br>
        Incline in degrees: <input type="number" placeholder="0" step="0.5" min="0" max="15" name="run[incline]"><br>

    <h3>Pushups:....TBI</h3>

    <input type="submit" value="Log Workout">
</form>