<h1>Welcome, <%= @user.username %></h1>

<h3><a href="/workouts/new">Log Today's Workout</a></h3>
<h3><a href="/workouts">View your previous workouts</a></h3>

<p><a href="/logout">log out</a></p>